In [1]:
def swap (x,y):
    global a
    a = "Lawal"
    x,y = y,x
    b ="Chris"
    b = "Edward"
    c ="Lola"
    print(a,b,x,y)
    a = "Mary"
swap("Tina","Tolu")
print(a)

Lawal Edward Tolu Tina
Mary